{% extends "master.html" %}

{% block content %}
<h1>About</h1>
    <h3>Our enquiry management service enables the effective and efficient electronic management of enquiries and requests.
Gain quick and easy access to all enquiries and relevant information,
including a record of all actions and interactions against an enquiry record along with any attached documents.
Any enquiries received can be allocated to teams or individuals.
        We make sure that your enquires are answered as soon and effectively as possible</h3>
{% endblock %}