{% extends "master.html" %}

{% block content %}
<h1>Employee</h1>

    {% block employee %}
    <div style = "padding: 100px 100px 10px;">

   <form class = "bs-example bs-example-form" role = "form" method="post">
       {% csrf_token %}
      <div class = "input-group">
         <span class = "input-group-addon">Name</span>
         <input type = "text" class = "form-control" placeholder = "your name.." name="nametxt">
      </div>

      <br>

      <div class = "input-group">
          <span class = "input-group-addon">Password</span>
         <input type = "password" class = "form-control" placeholder="password.." name="passwordtxt">

      </div>
       <br>

       <div class="form-group">
       <button type="button" class="btn btn-default"><a href="/employeeanswer">Login</a></button>
           <input type="submit" class="btn btn-info" value="Login">


   </form>

</div>
        {% endblock %}
{% endblock %}