{% extends "customer.html" %}

{% block customer %}
    <div style = "padding: 100px 100px 10px;">

   <form class = "bs-example bs-example-form" role = "form" method="post">
       {% csrf_token %}
      <div class = "input-group">
         <span class = "input-group-addon">Query ID</span>
         <input type = "text" class = "form-control" placeholder = "your query id.." name="queryid">
      </div>

      <br>
       <input type="submit" class="btn btn-info" value="Get Status">

   </form>

</div>
{% endblock %}