<nav class = "navbar navbar-default" role = "navigation">

   <div class = "navbar-header">
      <button type = "button" class = "navbar-toggle"
         data-toggle = "collapse" data-target = "#example-navbar-collapse">
         <span class = "sr-only">Toggle navigation</span>
         <span class = "icon-bar"></span>
         <span class = "icon-bar"></span>
         <span class = "icon-bar"></span>
      </button>

      <a class = "navbar-brand" href = "/">Home</a>
   </div>

   <div class = "collapse navbar-collapse" id = "example-navbar-collapse">

      <ul class = "nav navbar-nav">
         <li><a href="http://127.0.0.1:8000/customer">Customer</a></li>
         <li><a href="http://127.0.0.1:8000/adminlog">Admin</a></li>
         <li><a href="http://127.0.0.1:8000/employee">Employee</a></li>
         <li><a href="http://127.0.0.1:8000/about">About Us</a></li>
         <li><a href="http://127.0.0.1:8000/contact">Contact Us</a></li>
         <li><a href="http://127.0.0.1:8000/faq">FAQ</a></li>


      </ul>
   </div>

</nav>