{% extends "customer.html" %}

{% block customer %}

    <form class = "bs-example bs-example-form" role = "form" method="post">
       {% csrf_token %}
      <div class = "input-group">
         <span class = "input-group-addon">Name</span>
         <input type = "text" class = "form-control" placeholder = "your name.." name="nametxt">
      </div>

      <br>

      <div class = "input-group">
          <span class = "input-group-addon">E-Mail</span>
         <input type = "text" class = "form-control" placeholder="email.." name="email1txt">

      </div>
       <br>

           <input type="submit" class="btn btn-info" value="Login">


{% endblock %}